[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/michael/Desktop/M5Burner-v3-beta-linux-x64]
row=4
col=0

[/home/michael/Desktop/Utilities]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/michael]
row=2
col=0

