[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/michael/Desktop/xfce4-terminal-emulator.desktop]
row=3
col=0

[/home/michael/Desktop/org.libretro.RetroArch.desktop]
row=4
col=0

[/home/michael/Desktop/org.manjaro.pamac.manager.desktop]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/michael]
row=2
col=0

